<%- include('header')%>

   
    <main class="contato">
    
        <h3>Contatos</h3>
        <ul class="contact-info">
          <li class="phone"><a href="tel:5518981278310">(18)98127-8310</a></li> 
          <li class="mail"><a href="mailto:marcelolcarvalho@gmail.com">marcelolcarvalho@gmail.com</a></li> 
        </ul>
    
     
    </main>

<%- include('footer') %>