<%- include('header')%>

    <main class="contato">
    
        <h3>Contatos</h3>
        <ul class="contact-info">
          <li><a href="tel:5518981278310"> <i class="fab fa-whatsapp"></i>(18)98127-8310</a></li> 
          <li><a href="mailto:marcelolcarvalho@gmail.com"><i class="fas fa-envelope"></i> marcelolcarvalho@gmail.com</a></li> 
        </ul>
    
     
    </main>

 


<%- include('footer') %>