<%- include('header')%>

    <main class="curr">
        
        <div class="pessoal">
            <ul>
                <li>Marcelo de Carvalho Lopes</li>
                <li>Brasileiro, casado, 38 anos.</li>
                <li>Rua Baguaçu, 275.</li>
                <li>JD. Sumaré – Araçatuba – SP.</li>
                <li>CEP: 16015-290.</li>
                <li>Telefone: (18)98127-8310.</li>
                <li>E-mail: marcelolcarvalho@gmail.com</li>
                <li>Linkedin: <a href="https://www.linkedin.com/in/marcelo-de-carvalho-lopes-34223b29/" target="_blank"> https://www.linkedin.com/in/marcelo-de-carvalho-lopes-34223b29/</a></li>
                <li>GitHub: <a href=" https://github.com/MarceloCarvalhoLopes" target="_blank">  https://github.com/MarceloCarvalhoLopes </a></li>
            </ul>         
        </div>
        <h3>OBJETIVO</h3>
        <div class="objetivo">
            <hr>
            <p>Trabalhar com desenvolvimento de software.</p>
        </div>   
        
        <h3>RESUMO</h3>
        <div class="resumo">      
            <hr>
            <p>Profissional pós-graduado, com conhecimentos técnicos em SQL e programação. Possuo 15 anos de experiência no ramo de TI, atuando nas áreas de suporte técnico, implantação de sistemas, treinamento e desenvolvimento de software. <br> Comprometido com resultados e em constante aperfeiçoamento por meio de cursos, livros e idiomas. </p>
        </div>   
        
        <h3>HISTÓRICO PROFISSIONAL</h3>
        <div class = "hp">
            <div>
                <hr>
                <ul>
                    <li>Grupo Acert – Analista de Suporte</li>
                    <li>Janeiro 2013 – Presente</li>
                </ul>
                <p>Atuação na implantação de sistemas para áreas comerciais e atendimento para sistemas de laboratórios óticos, gestão de banco de dados Firebird.</p>
            </div>

            <div>
                <hr>
                <ul>
                    <li>CPM Braxis Capgemini – Analista de Sistemas</li>
                    <li>Abril 2012 – Janeiro 2013</li>
                </ul>
                <p>Atuação durante dois meses em implantação do projeto Vanguarda – Bradesco  - DDS e duas semanas alocado a uma agência para acompanhar o projeto após implantação da agência. </p>
                <p>Desenvolvimento em linguagem Java alocado ao projeto de distribuição de versões do Terminal Financeiro.</p>
            </div>
            
            <div>
                <hr>
                <ul>
                    <li>Thomson Reuters – Analista de Suporte</li>
                    <li>Outubro de 2008 – Março de 2012</li>
                </ul>
                <p>Atuação no suporte de integração de aplicativos Softway com ERP SAP, incluindo análise de informações corporativas que antecedem a migração de dados. </p>
                <p>Atuação em projeto na Philips durante dois anos na área de operações pós-venda onde desenvolvi um trabalho de integração entre aplicativos Softway com banco de dados Oracle e sistema SAP.</p>
            </div>

            <div>
                <hr>
                <ul>
                    <li>Grupo Acert – Analista de Suporte</li>
                    <li>Setembro de 2006 – Outubro de 2008</li>
                </ul>
                <p>Atuação na implantação de sistemas para áreas comerciais e atendimento para sistemas de laboratórios óticos, gestão de banco de dados Firebird.</p>
            </div>

            
            <div>
                <hr>
                <ul>
                    <li>Grupo Assessor - Analista de Suporte</li>
                    <li>Setembro de 2004 – Setembro de 2006</li>
                </ul>
                <p>Implantação de sistemas em diversos órgãos e empresas públicas, suporte técnico especializado e gestão de bancos de dados Firebird.</p>
            </div>

            <div>
                <hr>
                <ul>
                    <li>MicroWay – Instrutor Informática</li>
                    <li>Junho de 2003 – Setembro de 2004</li>
                </ul>
                <p>Instrutor de cursos profissionalizantes, como desenvolvimento de software nas linguagens Delphi e HTML.</p>
            </div>
        </div>

        <h3>FORMAÇÃO ACADÊMICA</h3>
        <div class ="fa">
                <hr>
                <ul>
                    <li>Pós-graduação em Gestão de Sistema de Informação, UNILINS, 2004 – 2005.  </li>
                    <li>Tecnologia em Análise e Desenvolvimento de Sistemas, CENTRO UNIVERSITARIO DE ADAMANTINA, UNIFAI, 1999 – 2001.</li>
                </ul>
        </div>
 
        
        <h3>IDIOMAS</h3>
        <div class = "idioma">
            <hr>
            <ul>
                <li>Inglês nível avançado (atualmente cursando aulas particulares).</li>
            </ul>
        </div>

        <h3>CURSOS EXTRACURRICULARES</h3>
        <div class = "ce">
            <hr>
            <ul>
                <li>Java e Orientação a Objetos – Caelum – São Paulo – SP.</li> <br>
                <li>Treinamento de ERP – SAP,  Centro de Treinamento Softway, 2010.</li> <br>
                <li>Spring MVC - AlgaWorks – 2017.</li><br>
                <li>API RESTful com Spring Boot e Java 8 – Guia de Referência, Udemy – Novembro - 2017.</li>
                <li>Certificado : https://www.udemy.com/certificate/UC-8BY0JDG6/</li><br>
                <li>API RESTful avançada com Spring Boot e Java 8, Udemy – Janeiro – 2018.</li>
                <li>Certificado : https://www.udemy.com/certificate/UC-EJ3TF6YO/</li><br>
                <li>Web Services RESTful e Spring – AlgaWorks – 2018</li><br>
                <li>Entendendo e documentando REST / RESTful APIS, Udemy – Janeiro – 2018.</li>
                <li>Certificado : https://www.udemy.com/certificate/UC-26KLV8T9/</li>
                <li></li>
            </ul>
        </div>

    </main>



<%- include('footer') %>