      <footer>
            <ul>
                <li><a href="https://twitter.com/Marcelo030181" target="_blank" class="social twitter">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/marcelo-de-carvalho-lopes-34223b29/" target="_blank" class="social linkedin">LinkedIn</a></li>
                <li><a href="https://github.com/MarceloCarvalhoLopes" target="_blank" class="social github">Github</a></li>
            </ul>
            <p class="copyright">&copy; 2019, Marcelo De Carvalho Lopes</p>
        </footer>
    </body>

</html>