<!doctype html>
<html>
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcelo de Carvalho Lopes - Profile</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
   
    <link href="/style.css" rel="stylesheet">
    <body>
    
        <div class="main-nav">
            <ul class="nav">
            <li class="name"> Marcelo de Carvalho Lopes </li>
            <li> <a href="home"> Home </a> </li>
            <li> <a href="curriculum"> Currículo </a> </li>
            <li> <a href="contato"> Contato </a> </li> 
        </div>
 
