<%- include('header')%>

    <div class="main-nav">
        <ul class="nav">
        <li class="name"> Marcelo de Carvalho Lopes </li>
        <li> <a href="home"> Home </a> </li>
        <li> <a href="curriculum"> Curriculum </a> </li>
        <li> <a href="contato"> Contato </a> </li> 
    </div>


    <main class = "flex">
        <div>
            <h2>Objetivo</h2>
            <p>
                Trabalhar com desenvolvimento de software. <br>
                Dominar o processo de construção de sites e aplicações, melhorar minhas habilidades em:
            </p>
            <ul class="skills">
               <li>JavaScript</li>
               <li>Html</li>
               <li>CSS</li>
               <li>React</li>     
               <li>Angular</li>     
               <li>Java</li>     
            </ul>
            <p>
                Em uma empresa comprometida com seus clientes.
            </p>

        </div>
    </main>
    



<%- include('footer') %>