<%- include('header')%>

    <main class = "flex">
        <div>
            <h2>Objetivo</h2>
            <p>
                Trabalhar com desenvolvimento de software. <br>
                Dominar o processo de construção de sites e aplicações, melhorar minhas habilidades em:
            </p>
            <ul class="skills">
               <li>JavaScript</li>
               <li>Html</li>
               <li>CSS</li>
               <li>Nodejs</li> 
               <li>React</li>     
               <li>Angular</li>     
               <li>Java</li>     
               <li>SQL</li> 
            </ul>
            <p>
                Em uma empresa comprometida com seus clientes.
            </p>

        </div>
    </main>
    



<%- include('footer') %>